/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 26, 2015, 11:57:33 AM
    Author     : Verneri
*/

html{
    background-color: black;
}

#layout{
    border-collapse: collapse;
    width: 854px;
    height: 480px;
    font-size: 14px;
}

#left{
    float: left;
    background-color: steelblue;
    width: 25%;
    height: 100%;
    box-sizing: border-box;
}

#logoDiv{
    padding-left: 10px;
    height: 16%;
}

.datadevilsLogo{
    height:80px; 
    width:80px;
}

#madeByDatadevils{
    float:left;
    padding-top:20px;
    padding-left:12px;

}

#functionNav{
    padding: 10px;
    height: 84%;
    text-align: right;
}

#divCommandLink{
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 5px;
}

#divCommandLink:hover{
    background-color: yellow;
}

.textCommandLink{
    color: black;
    text-decoration: none;
    font-weight: bold;
}

#middle{
    height: 100%;
    width: 75%;
    float: left;
    box-sizing: border-box;
}

#middle_top{
    padding: 10px;
    background-color: navajowhite;
    height: 90%;
    box-sizing: border-box;
}

#middle_bottom{
    height: 10%;
    padding: 10px;
    background-color: yellowgreen;
    box-sizing: border-box;
}

.tableColumn{
    padding-bottom: 5px;
}

/*
#middle_top{
    height: 10%;
    background-color: yellowgreen;
    box-sizing: border-box;
}

#navBar{
    float: left;
    padding: 12px;
}

#nameOnBar{
    float: right;
    padding: 15px;
}

#middle_left{
    float: left;
    width: 25%;
    height: 90%;
}

#searchPanel{
    background-color: yellow;
    height: 10%;
    padding-left: 17px;
    padding-top: 10px;
    box-sizing: border-box;
}

#search_button{
    width: 26px;
    height: 26px;
    padding: 0px;
}

.search_image{
    background: lightgray url('../resources/images/search.png') center;
    background-size: 20px auto;
}

#personsPanel{
    background-color: burlywood;
    height: 90%;
    padding: 10px;
    box-sizing: border-box;
}

#middle_right{
    float: left;
    width: 50%;
    height: 90%;
}

#contactPanel{
    background-color: lightpink;
    height: 45%;
    padding: 10px;
    box-sizing: border-box;
}

#taskPanel{
    background-color: plum;
    height: 55%;
    padding: 10px;
    box-sizing: border-box;
}

.companyColumn{
    padding-bottom: 5px;
    width: 200px;
}

.personColumn{
    padding-bottom: 5px;
    width: 200px;
}

.contactColumn{
    padding-bottom: 5px;
    width: 400px;
}

.taskColumn{
    padding-bottom: 5px;
    width: 400px;
}

#debugField{
    color: white;
}

.selectedRow{
    background-color: yellow;
}

.notSelectedRow{
    background-color: steelblue;
}

.tableText {
    text-decoration: none;
    color: black;
}*/