<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>microCRM Admin</title>
        <h:outputStylesheet library="css" name="../resources/admin.css"/>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </h:head>
    <body>
        <h:form>
            <div id="layout">

                <div id="left">

                    <div id="logoDiv">

                        <div style="float:left;">
                            <img class="datadevilsLogo" src="resources/images/datadevils.png"/>
                        </div>

                        <div id="madeByDatadevils">
                            <b style="font-size:18px;">microCRM</b>
                            <br/>
                            by Datadevils
                        </div>

                    </div>

                    <div id="companyPanel">
                        <h:dataTable id="companies" value="#{microCRM_admin_controller.companyList}" var="a"
                                     columnClasses="companyColumn">
                            <h:column>
                                <b>#{a.name}</b>
                            </h:column>
                        </h:dataTable>
                    </div>

                </div>

                <div id="middle_top">

                    <div id="nameOnBar">
                        <b><h:outputText value="#{microCRM_admin_controller.name}" /></b>
                    </div>

                    <div id="navBar">
                        <h:commandButton value="User Management" action="#{microCRM_admin_controller.clickUserManagement()}"/>
                        <h/>
                        <h:commandButton value="Basket Management" action="#{microCRM_admin_controller.clickBasketManagement()}"/>
                    </div>

                </div>

                <div id="middle_left">

                    <div id="searchPanel">
                        <h:inputText id="searchBox" value="#{microCRM_admin_controller.searchText}" maxlength="50">
                            <f:ajax event="keyup" render="out1"/>
                        </h:inputText>
                        <h />
                        <h:commandButton id="search_button" styleClass="search_image" action="#{microCRM_admin_controller.clickSearch()}" />
                    </div>

                    <div id="personsPanel">
                        <h:dataTable id="persons" value="#{microCRM_admin_controller.personList}" var="b"
                                     columnClasses="personColumn">
                            <h:column> 
                                <b>#{b.name}</b>
                                <br/>
                                #{b.email}
                                <br/>
                                #{b.phone}
                            </h:column>
                        </h:dataTable>
                    </div>

                </div>

                <div id="middle_right">

                    <div id="contactPanel">
                        <h:dataTable id="contacts" value="#{microCRM_admin_controller.contactList}" var="c"
                                     columnClasses="contactColumn">
                        </h:dataTable>
                    </div>

                    <div id="taskPanel">
                        <h:dataTable id="tasks" value="#{microCRM_admin_controller.taskList}" var="d"
                                     columnClasses="taskColumn">
                            <h:column>
                                <b>#{d.description}</b>
                                <br/>
                                #{d.dueDate}
                            </h:column>
                        </h:dataTable>  
                    </div>

                </div>

            </div>
            <hr/>

            <div id="debugField">
                Debugging Field
                <br/>
                Search box: <h:outputText id="out1" value="#{microCRM_admin_controller.searchText}"/>
                <br/>
                <h:outputText id="out2" value="#{microCRM_admin_controller.message}"></h:outputText>
            </div>

        </h:form>
    </body>
</html>