<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:head>
        <title>microCRM</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </h:head>
    <h:body>
        <h:form>
            Task Management <br/><br/>
            All tasks
            <h:dataTable id="tasks" value="#{microCRM_admin_controller.taskList}" var="d"
                         columnClasses="tableColumn">
                <h:column>
                    <b>#{d.description}</b>
                    <br/>
                    #{d.dueDate}
                </h:column>
            </h:dataTable> 
        </h:form>
    </h:body>
</html>

