<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        <title>microCRM Admin</title>
        <h:outputStylesheet library="css" name="admin.css"/>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </h:head>
    <body>
        <h:form>
            <div id="layout">

                <div id="left">

                    <div id="logoDiv">

                        <div style="float:left;">
                            <img class="datadevilsLogo" src="resources/images/datadevils.png"/>
                        </div>

                        <div id="madeByDatadevils">
                            <b style="font-size:18px;">microCRM</b>
                            <br/>
                            by Datadevils
                        </div>

                    </div>
                    
                    <div id="functionNav">
                        <div style="padding-right: 5px;">
                            <b style="font-size: 18px; text-decoration: underline;">Admin</b>
                        </div>
                        <div id="divCommandLink">
                            <h:commandLink value="User Management" styleClass="textCommandLink" action="#{microCRM_admin_controller.renderUserManagement()}" />
                        </div>
                        <div id="divCommandLink">
                            <h:commandLink value="Basket Management" styleClass="textCommandLink" action="#{microCRM_admin_controller.renderBasketManagement()}" />
                        </div>
                        <div id="divCommandLink">
                            <h:commandLink  value="Company Management" styleClass="textCommandLink" action="#{microCRM_admin_controller.renderCompanyManagement()}" />
                        </div>
                        <div id="divCommandLink">
                            <h:commandLink value="Person Management" styleClass="textCommandLink" action="#{microCRM_admin_controller.renderPersonManagement()}" />
                        </div>
                        <div id="divCommandLink">
                            <h:commandLink value="Task Management" styleClass="textCommandLink" action="#{microCRM_admin_controller.renderTaskManagement()}" />
                        </div>                       
                        <div id="divCommandLink">
                            <h:commandLink value="Populate Database" styleClass="textCommandLink" action="#{microCRM_admin_controller.populateDatabase}" />
                        </div>
                        
                    </div>

                </div>

                <div id="middle">
                    
                    <div id="middle_top">
                        <ui:include id="includeMiddle" src="#{microCRM_admin_controller.middleInclude}"  />
                    </div>
                    
                    <div id="middle_bottom">
                        <h:outputText id="out2" value="#{microCRM_admin_controller.message}"></h:outputText>
                    </div>
                    
                </div>

            </div>

        </h:form>
    </body>
</html>